<div id="<%= dom_id home %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Number:</strong>
    <%= home.number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Unit:</strong>
    <%= home.unit %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pays hoa:</strong>
    <%= home.pays_hoa %>
  </p>

</div>
